body
{
	margin: 0px;
	padding: 0px;
	background: url(../images/login_bg.jpg);
	background-size: cover;
	font-family: sans-serif;
	color: white;
}

.box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.8);
	width: 400px;
	padding: 40px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}

.box img
{
	height: 90px;
	width: 300px;
	padding-bottom: 30px;
}

.box h2
{
	margin: 0 0 30px;
	padding: 0px;
	color: #fff;
	text-align: center;
}

.box .input_box
{
	position: relative;
}

.box .input_box input
{
	width: 100%;
	padding: 10px 0;
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .input_box label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	letter-spacing: .5px;
	font-size: 15px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}


.box .input_box input:focus~label,
.box .input_box input:valid~label
{
	top: -18px;
	left: 0;
	color: #00cc66;
	font-size: 12px;
}

.box .radio_line
{
	position: relative;
	padding-top: 10px;
	padding-bottom: 40px;
}

.box .radio_line label
{
	padding-right: 10px;
	letter-spacing: .5px;
	font-size: 15px;
	color: #fff;
}

.box input[type = 'submit']
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background-color: #0f7435;
	border-radius: 10px;
	padding: 10px 30px;
	cursor: pointer;
}
